@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


html {
  background :url("cool.png");
  font-family: 'Montserrat', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(20, 19, 19);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  h1 ,h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 6rem;
    color: rgb(131, 99, 99);
  }
  
  h2
  {
    font-size: 3rem;
    font-weight: 300;
    /* margin-bottom: 30rem; */

  }
  .projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: var(--main-blue);
    margin-bottom: 8rem;
    color: rgb(26, 7, 7);
}

.circle {
    /* border: 2px solid rgb(90, 84, 84); */
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
    line-height: 300px;
    border-radius: 50%;
    font-size: 50px;
    text-align: center;
    background :url("cool.png");
    /* background:  rgb(235, 114, 114); */
    color: rgb(255, 255, 255);
    border-color:white;
    border-style: double;

}


.circle0 {
    width: 300px;
    height: 300px;
    line-height: 300px;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    text-align: center;
    background :url("cool.png");
    border-color:white;
    border-style: double;
  }


.circle1 {
    margin-top : -300px;
    margin-left : 1300px;
    width: 300px;
    height: 300px;
    line-height: 300px;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    text-align: center;
    background :url("cool.png");
    border-color:white;
    border-style: double;
  }
  
  /* .projects.contacts { */
    /* body {
      background: #F2F3EB;
    } */
    
    button {
      overflow: visible;
    }
    
    button, select {
      text-transform: none;
    }
    
    button, input, select, textarea {
      color: #f3eaea;
      font: inherit;
      margin: 0;
    }
    
    input {
      line-height: normal;
    }
    
    textarea {
      overflow: auto;
    }
    
    #container {
      border: solid 3px #474544;
      max-width: 768px;
      margin: 60px auto;
      position: relative;
    }
    
    form {
      padding: 37.5px;
      margin: 50px 0;
    }
    
    h1 {
      color: #ffffff;
      font-size: 32px;
      font-weight: 700;
      letter-spacing: 7px;
      text-align: center;
      text-transform: uppercase;
    }
    
    .underline {
      border-bottom: solid 2px #f0efee;
      margin: -0.512em auto;
      width: 80px;
    }
    
    .icon_wrapper {
      margin: 50px auto 0;
      width: 100%;
    }
    
    .icon {
      display: block;
      fill: #ffffff;
      height: 50px;
      margin: 0 auto;
      width: 50px;
    }
    
    .email {
        float: right;
        width: 45%;
    }
    
    input[type='text'], [type='email'], select, textarea {
        background: none;
      border: none;
        border-bottom: solid 2px #474544;
        color: #ffffff;
        font-size: 1.000em;
      font-weight: 400;
      letter-spacing: 1px;
        margin: 0em 0 1.875em 0;
        padding: 0 0 0.875em 0;
      text-transform: uppercase;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    
    input[type='text']:focus, [type='email']:focus, textarea:focus {
        outline: none;
        padding: 0 0 0.875em 0;
    }
    
    .message {
        float: none;
    }
    
    .name {
        float: left;
        width: 45%;
    }
    
    select {
      background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
      outline: none;
      -moz-appearance: none;
      -webkit-appearance: none;
    }
    
    select::-ms-expand {
      display: none;
    }
    
    .subject {
      width: 100%;
    }
    
    .telephone {
      width: 100%;
    }
    
    textarea {
        line-height: 150%;
        height: 150px;
        resize: none;
      width: 100%;
    }
    
    ::-webkit-input-placeholder {
        color: #ffffff;
    }
    
    :-moz-placeholder { 
        color: #f7f7f7;
        opacity: 1;
    }
    
    ::-moz-placeholder {
        color: #ffffff;
        opacity: 1;
    }
    
    :-ms-input-placeholder {
        color: white;
    }
    
    #form_button {
      background: none;
      border: solid 2px #474544;
      color: white;
      cursor: pointer;
      display: inline-block;
      font-family: 'Helvetica', Arial, sans-serif;
      font-size: 0.875em;
      font-weight: bold;
      outline: none;
      padding: 20px 35px;
      text-transform: uppercase;
      -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    
    #form_button:hover {
      background: white;
      color: white;
    }
    
    @media screen and (max-width: 768px) {
      #container {
        margin: 20px auto;
        width: 95%;
      }
    }
    
    @media screen and (max-width: 480px) {
      h1 {
        font-size: 26px;
      }
      
      .underline {
        width: 68px;
      }
      
      #form_button {
        padding: 15px 25px;
      }
    }
    
    @media screen and (max-width: 420px) {
      h1 {
        font-size: 18px;
      }
      
      .icon {
        height: 35px;
        width: 35px;
      }
      
      .underline {
        width: 53px;
      }
      
      input[type='text'], [type='email'], select, textarea {
        font-size: 0.875em;
      }
    }
/* } */